@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9fafb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

